{% extends 'shop/basic.html' %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block body %}
<div class="container">
    {{response}}
    <div class="col my-4">

        <h2>Payment status regarding your order Id :{{response.ORDERID}} is successful</h2>
        Thank you for using My Awesome Cart!
        {% if response.RESPCODE == '01' %}
            ORDER FAILURE
        {% else %}
            <br>ORDER SUCCESS!</br>
        {% endif%}

    </div>

</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}
